*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: rgb(28, 25, 25);
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo{
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  border: 1px solid red;
  border-radius: 1rem;
  margin: 1rem auto;
  color: #fff;
  text-align: left;
  padding: 1.5rem 2rem;
}

.todo a {
  color:white;
  text-decoration: none;
}
.todo a:hover{
  text-decoration:underline ;
}
.todo p{
  color: rgb(161, 169, 161);
}

.top-menu {
  color: #fff;
  width: 40rem;
  padding: 2rem 0rem;
  margin: 1rem auto;
  text-align: left;
}

.top-menu h1 {
  font-size: 4rem;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.counter {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.counter button{
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  width: 3rem;
}

.counter h3{
  font-size: 2rem;
  background-color: transparent;
}

.empty-state {
   color: red;
   font-size: 1.6rem;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.profile{
  border:1px solid red;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem 2rem 2rem 1rem;
  height: 33rem;
  
}
.profile>h1{
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.profile>p{
  font-size: 1.5rem;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.profile>input{
  height: 3rem;
  width: 17rem;
  border: none;
  outline: none;
  border-radius: .5rem;
}
input[type='text']{
  font-size: 1.3rem;
  padding: .5rem;
}
input[type='email']{
  font-size: 1.3rem;
  padding: .5rem;
}
input[type='password']{
  font-size: 1.3rem;
  padding: .5rem;
}
::placeholder{
  font-size: 1.3rem;
  padding: .5rem;
}
.profile>button{
  height: 3rem;
  width: 17rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  border-radius: .5rem;
  outline: none;
  border: none;
  
}
.profile>button:hover{
  border: 1px solid red;
}